
{# src/OC/PlatformBundle/Resources/views/Advert/activiteForm.html.twig #}

<div class="well">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_widget(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{#
{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {{ form_widget(form) }}
{{ form_widget(form.save,{'attr': {'class': 'btn btn-primary'}}) }}

    {{ form_row(form.statut,{'label_attr': {'class': 'col-sm-4 control-label'}}) }}
</br>
{{ form_row(form.financement,{'label_attr': {'class': 'col-sm-4 control-label'}}) }}
</br>
{{ form_row(form.montantFinancement,{'label_attr': {'class': 'col-xs-4 control-label'}}) }}
</br>
{{ form_row(form.typeAcces,{'label_attr': {'class': 'col-sm-4 control-label'}}) }}

</br>
{{ form_row(form.domaineScience,{'label_attr': {'class': 'col-sm-4 control-label'}}) }}
</br>
{{ form_row(form.diciplineScience,{'label_attr': {'class': 'col-sm-4 control-label'}}) }}
</br>
{{ form_row(form.poste,{'label_attr': {'class': 'col-xs-4 control-label'}}) }}
</br>
{{ form_row(form.resume,{'label_attr': {'class': 'col-xs-4 control-label'}}) }}
</br>
{{ form_row(form.save,{'label_attr': {'class': 'col-sm-8 control-label'}}) }}
    {{ form_end(form) }}
</div>
#}