<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}ZRR{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<style>
    .ajout {
    background-color: #1dabff;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    }
</style>
<div class="container">
    <div id="header" class="jumbotron">
        <h2>Formulaire de demande d'accès à une zone à régime restrictif(ZRR)</h2>
        <p>
            Décret nº2011-1425 du 2 novembre 2011 portant l'applicatoion de l'article 413-7
            du code pénal et relatif à la protection de potentiel scientifique et technique de la nation
        </p>
    </div>


    <div align="right">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right navbar-items" style="font-size: 15px;color:black !important;">
                <li><a href="{{  path('zrr_language', {'_locale':'fr'}) }} ">FR</a></li>
                <li><a href= "{{ path('zrr_language', {'_locale':'en'})  }} ">EN</a></li>
            </ul>
        </div>

        {% if is_granted("IS_AUTHENTICATED_FULLY") %}{#IS_AUTHENTICATED_REMEMBERED#}
            Connecté en tant que <strong style="color: #44cddd;font-size: 25px">{{ app.user.username }}</strong>
            -
            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Connexion</a>
            <br/>
            <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
        {% endif %}
    </div>

    <div id="content">
        {% block body %}

        {% endblock %}
    </div>
</div>

<hr>
    <footer>
        <p>Projet ZRR {{ 'now'|date('Y') }} </p>
    </footer>


{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuitWlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}

</body>
</html>